textarea {
  resize: none;
}

.app-main-contents-area {
  margin-top: 60px;

}

.app-article-post-frame {
  border: 1px solid #777;
  background-color: #eee;
  border-radius: 5px;
  padding: {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 30px;
  }
  margin-bottom: 5px;
}

#app-article-post-btn {
  margin-top: 3px;
}

#app-com-make-btn {
  margin: {
    top: 5px;
    left: 64%;
    bottom: 5px;
  }
}