@import "bs-common/colors";
@import "bs-common/base-components";
@import "common/frame";

textarea {
  resize: none;
}

.app-article-post-frame {
  border: 1px solid #777;
  background-color: #eee;
  border-radius: 5px;
  padding: {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 30px;
  }
  margin-bottom: 5px;
}

#app-my-profile-self-intro-edit{
  margin-bottom: 10px;
}


#app-article-post-btn {
  margin-top: 3px;
}

#app-com-make-btn {
  margin: {
    top: 5px;
    left: 64%;
    bottom: 5px;
  }
}

.app-left-tab{
  margin-bottom: 10px;
}